<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
  <!--===============================================================================================-->

  <title>Home Page</title>
</head>


    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk_RaMnrVr7PDH92sjcl4xMfAvxdgKHk7eV-JuLbDjgb4Y0NRO"
          width="30" height="30" class="d-inline-block align-top" alt=""> Day Challenge RPG
      </a>
      <button type="button" class="btn btn-success">Home</button>
    </nav>


    <body>
      {{{body}}}

    </body>

    <footer class="panel-footer">

      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>

    </footer>

</html>