<div class="content">
    <img src="http://simpleicon.com/wp-content/uploads/users.png" class="image-cropper" alt="">
</div>

<section class="center user">
    <div>
        Hello, {{Player.name}}
    </div>
</section>

<div class="container">
    <h1><strong>Progress</strong></h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: {{Player.xp}}"><strong> {{Player.xp}}% Complete</strong></div>
    </div>