
* {
	margin: 2px; 
	padding: 2px; 
	
}

body, html {
	height: 100%;
  font-family: Montserrat-Regular, sans-serif;
  background: #003333;
}


/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}