/* body {
    background: #003333;
    color: white;
    font-family: Chakra Petch;
} */

li {
    font-size: 20px;
}

p {
    font-size: 20px;
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.bigclass {
    font-size: 150px;
}

#questTxt {
    font-size: 45px;
}

#nextLevelTxt {
    margin-top: 0px;
    margin-bottom: 5px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#questCompleteBtn {
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 9px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: white;
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 10px;
    height: 50px;
    font-family: Chakra Petch;
}

#questCompleteBtn:hover {
    background-color: #008CBA;
    color: white;
}

#lvlTxt {
    font-weight: bold;
    text-decoration: underline;
}

#completedTxt {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}